@charset "UTF-8";


body {
	
 	background-image: url('https://www.directasia.com/sites/default/files/media_images/10-Reasons-Why-Motorcycle-Owners-Have-It-Better-3-e1493363811301.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
	background-color:transparent;
	text-decoration-color:ghostwhite;
}


.container {
	padding-top: 80px;
}

table,
thead,
tbody,
th,
tr,
td {
	border: solid black 1px;
	border-spacing: 1px;
}